//
// _helper.scss
//

.map-container {
    position: relative;
    width: 100%;
    height: 100%; /* Ensure the parent container takes full height */
}

.divider {
    @apply m-0 border-gray-200 dark:border-gray-700 border-t;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

[data-trigger="mouseenter"] {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

li.menu-item a:hover {
    text-decoration: none;
}


// Custom Css Scroll
.custom-scroll {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 4px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        @apply rounded-lg bg-slate-300/50 dark:bg-slate-500/50;
    }

    &::-webkit-scrollbar-track {
        @apply bg-transparent rounded-lg;
    }

    &::-webkit-scrollbar-corner {
        @apply bg-transparent;
    }
}

// Form Validation
.text-help {
    @apply text-danger text-xs mt-1.5;
}

.event-description {
    table {
        @apply w-full;
    }
}
.choices__input:is(.dark *)::-moz-placeholder {
    color: var(--tw-body-color);
}
.choices__input:is(.dark *)::placeholder {
    color: var(--tw-body-color);
}

//.fi-input-wrp {
//    @apply focus-within:ring-amber-500 dark:focus-within:ring-amber-900 #{!important};
//}
