//
// _logo.scss
//

// Logo Box
.logo-box {
    height: $topbar-height;
    color: $menu-item-color;
    @apply sticky top-0 flex items-center justify-center transition-all duration-300 z-[2];

    .logo-sm {
        display: none;
    }

    .logo-light {
        display: none;
    }

    .logo-dark {
        display: block;
    }
}

// Sidenav
html:is(.dark, [data-menu-color="brand"], [data-menu-color="dark"]) {
    .app-menu {
        .logo-box {
            .logo-light {
                display: block;
            }

            .logo-dark {
                display: none;
            }
        }
    }
}


// Topbar Logo
html:is(.dark, [data-topbar-color="brand"], [data-topbar-color="dark"]) {
    .app-header {
        .logo-box {
            .logo-light {
                display: block;
            }

            .logo-dark {
                display: none;
            }
        }
    }
}

